.member-status-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.member-status {
    margin-bottom: 0;
    position: relative;
}
.sidebar-online-status {
  color: lightgreen;
}

.sidebar-offline-status {
    color: lightgray;
}
.sidebar-offline-status, .sidebar-online-status {
  font-size: 11px;
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 12px;
}

