body{
  font-family: 'fantasy' !important;
}

.home__bg {
    background-image: url("../assets/logo.png");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

.home-content {
  margin-left: 10px;
}

.get-started {
background-color: #7F27FF !important;
}

.get-started:hover {
  background-color: #9F70FD !important;
  }