.login__bg{
    background-image: url(https://media.istockphoto.com/id/459911553/photo/woman-pressing-on-the-lock-button.jpg?s=612x612&w=0&k=20&c=RyowKyFhNZfVLOC6KgNScHgZ5liQ9FETW5AxJZYaYVQ=);
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}