.signup__bg {
    background-image: url(https://thumbs.dreamstime.com/b/man-computer-chatting-design-message-chat-communication-theme-vector-illustration-man-computer-chatting-vector-183468511.jpg);
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.signup-profile-pic_container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.signup-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
}

.add-picture-icon{
    position: absolute;
    bottom: 0;
    right:  10px;
    color: cornflowerblue;
    background-color: white;
    cursor: pointer;
    z-index: 99;
}